{# src/VieilleSardine/CommandeBundle/Resources/views/Commande/SuiviCommande.html.twig #}

{% extends "::principal_layout.html.twig" %}

{% block body %}
    <div id="idRecherche">
        Rechercher par ID client <input type="Label">
        Rechercher par nom client <input type="Label">
        Rechercher par date <input type="Label">
        Rechercher par ID commande <input type="Label">
    </div>

    <div id ="idTabCmd">
    <p> 
        <TABLE BORDER="1"> 
          <CAPTION> Liste des commandes </CAPTION> 
          <TR> 
            <TH> Client </TH> 
            <TH> Commande </TH> 
            <TH> Date commande </TH>
          </TR>
            {% for commande in tab %}
            <TR>
                <li>{{commande[client]}}</li>
                {#<li>{{commande[commandeID]}}</li>#}
                {# si on clique dessus, redirigie vers /suiviCommande/IdDeLaCommande #}
                <a href="{{ path('suiviCommande', {'idCmd': commande[commandeID]}) }}">
                    {{ commande[commandeID] }}
                </a>
                {#<input type="button" value =commande[commandeID] id ="btnDetailCommande" action="detailCommande">
                {{ include('AcmeArticleBundle:Article:articleDetails.html.twig', {'article': article}) }}
                #}
                <li>{{commande[commandeDate]}}</li>
            </TR>
            {% endfor %}
    
        </TABLE> 
    </p>
    </div>
{% endblock %}